
          <!-- <md-input-container class="md-block" >
            <label>Id</label>
            <input ng-model="dd.id"
            ng-value="dd.id" ng-disabled="true">
          </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>deal_id</label>
            <input ng-model="dd.deal_id"
            ng-value="dd.id" ng-disabled="true"> -->
          <!-- </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>utility_id</label>
            <input ng-model="dd.utility_id"
            ng-value="dd.utility_id" ng-disabled="true">
          </md-input-container>
          <md-input-container class="md-block">
            <label>offset_supply_id</label>
            <input ng-model="dd.offset_supply_id"
            ng-value="dd.offset_supply_id" ng-disabled="true">
          </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>service_id</label>
            <input ng-model="dd.offset_supply_id"
            ng-value="dd.service_id" ng-disabled="true">
          </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>supply_fee_id</label>
            <input ng-model="dd.supply_fee_id"
            ng-value="dd.supply_fee_id" ng-disabled="true">
          </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>franchise_fee_id</label>
            <input ng-model="dd.franchise_fee_id"
            ng-value="dd.franchise_fee_id" ng-disabled="true">
          </md-input-container> -->
          <!-- <md-input-container class="md-block">
            <label>fuel_id</label>
            <input ng-model="dd.fuel_id"
            ng-value="dd.fuel_id" ng-disabled="true">
          </md-input-container>
          <md-input-container class="md-block">
            <label>commodity_id</label>
            <input ng-model="dd.commodity_id"
            ng-value="dd.commodity_id" ng-disabled="true">
          </md-input-container>
          <md-input-container class="md-block">
            <label>location_id</label>
            <input ng-model="dd.location_id"
            ng-value="dd.location_id" ng-disabled="true">
          </md-input-container>
          <md-input-container class="md-block">
            <label>price_adj_id</label>
            <input ng-model="dd.price_adj_id"
            ng-value="dd.price_adj_id" ng-disabled="true">
          </md-input-container> -->

          <!-- <md-input-container class="md-block" flex-gt-xs>
            <label>utility_id</label>
           <md-select ng-model="dd.utility_id" >
             <md-option ng-value="pipeline.id" ng-repeat="pipeline in pipelines">{{ pipeline.name }}</md-option>
           </md-select>
         </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
           <label>pipeline_id</label>
          <md-select ng-model="dd.pipeline_id" >
            <md-option ng-value="pipeline.id" ng-repeat="pipeline in pipelines">{{ pipeline.name }}</md-option>
          </md-select>
        </md-input-container> -->
         <!-- <md-input-container class="md-block" flex-gt-xs>
           <label>risk_type_id</label>
          <md-select ng-model="dd.risk_type_id" >
            <md-option ng-value="riskType.id" ng-repeat="riskType in riskTypes">{{ riskType.name }}</md-option>
          </md-select>
        </md-input-container> -->
          <!-- <md-input-container class="md-block" flex-gt-xs>
             <label>beg_date</label>
             <md-datepicker ng-model="dd.beg_date" md-placeholder=""
              ng-required="true" ng-disabled="!editDD"></md-datepicker>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
              <label>end_date</label>
              <md-datepicker ng-model="dd.end_date" md-placeholder=""
               ng-required="true" ng-disabled="!editDD"></md-datepicker>
            </md-input-container> -->
            <!-- <md-input-container class="md-block" flex-gt-xs>
               <label>updated_at</label>
               <md-datepicker ng-model="dd.updated_at" md-placeholder=""
                ng-required="true" ng-disabled="true"></md-datepicker>
             </md-input-container>
             <md-input-container class="md-block" flex-gt-xs>
                <label>created_at</label>
                <md-datepicker ng-model="dd.created_at" md-placeholder=""
                 ng-required="true" ng-disabled="true"></md-datepicker>
              </md-input-container> -->


            <!-- <md-input-container class="md-block" flex-gt-xs>
              <label>index_id</label>
             <md-select ng-model="dd.index_id" ng-disabled="!editDD" >
               <md-option ng-value="index.id" ng-repeat="index in indices">{{ index.description }}</md-option>
             </md-select>
           </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>swing_index_id</label>
             <md-select ng-model="dd.swing_index_id" ng-disabled="!editDD" >
               <md-option ng-value="index.id" ng-repeat="index in indices">{{ index.description }}</md-option>
             </md-select>
           </md-input-container> -->



            <!-- <md-input-container class="md-block" flex-gt-xs>
               <label>under_premium</label>
               <input ng-model="dd.under_premium" ng-disabled="!editDD">
             </md-input-container>
             <md-input-container class="md-block" flex-gt-xs>
                <label>over_premium</label>
                <input ng-model="dd.over_premium" ng-disabled="!editDD">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                 <label>fuel_percentage</label>
                 <input ng-model="dd.fuel_percentage" ng-disabled="!editDD">
               </md-input-container>
               <md-input-container class="md-block" flex-gt-xs>
                  <label>transport_cost</label>
                  <input ng-model="dd.transport_cost" ng-disabled="!editDD">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                   <label>delivery_point</label>
                   <input ng-model="dd.delivery_point" ng-disabled="!editDD">
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs>
                    <label>pipe_commodity</label>
                    <input ng-model="dd.pipe_commodity" ng-disabled="!editDD">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs>
                     <label>premise_number</label>
                     <input ng-model="dd.premise_number" ng-disabled="!editDD">
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-xs>
                      <label>account_number</label>
                      <input ng-model="dd.account_number" ng-disabled="!editDD">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                       <label>incremental_margin</label>
                       <input ng-model="dd.incremental_margin" ng-disabled="!editDD">
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-xs>
                        <label>mdq</label>
                        <input ng-model="dd.mdq" ng-disabled="!editDD">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs>
                         <label>discount</label>
                         <input ng-model="dd.discount" ng-disabled="!editDD">
                       </md-input-container>
                       <md-input-container class="md-block" flex-gt-xs>
                          <label>segment</label>
                          <input ng-model="dd.segment" ng-disabled="!editDD">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                           <label>bill_code</label>
                           <input ng-model="dd.bill_code" ng-disabled="!editDD">
                         </md-input-container> -->

            <!-- <md-input-container class="md-block" flex-gt-xs>
              <label>swing_line</label>
               <md-select ng-model="dd.swing_line" >
                <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
              </md-select>
             </md-input-container>
             <md-input-container class="md-block" flex-gt-xs>
               <label>calc_override</label>
                <md-select ng-model="dd.calc_override" >
                 <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
               </md-select>
              </md-input-container>
             <md-input-container class="md-block" flex-gt-xs>
               <label>primary</label>
                <md-select ng-model="dd.primary" >
                 <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
               </md-select>
              </md-input-container>
             <md-input-container class="md-block" flex-gt-xs>
               <label>daily_volume</label>
                <md-select ng-model="dd.daily_volume" >
                 <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
               </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                <label>utility_billed</label>
                 <md-select ng-model="dd.utility_billed" >
                  <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                </md-select>
               </md-input-container> -->
               <!-- <md-input-container class="md-block" flex-gt-xs>
                 <label>trigger</label>
                  <md-select ng-model="dd.trigger" >
                   <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                 </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                  <label>down_stream</label>
                   <md-select ng-model="dd.down_stream" >
                    <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                  </md-select>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-xs>
                   <label>rfp</label>
                    <md-select ng-model="dd.rfp" >
                     <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                   </md-select>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>rolled_ind</label>
                     <md-select ng-model="dd.rolled_ind" >
                      <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                    </md-select>
                   </md-input-container>
                   <md-input-container class="md-block" flex-gt-xs>
                     <label>pathed</label>
                      <md-select ng-model="dd.pathed" >
                       <md-option ng-value="bool.bool" ng-repeat="bool in trueFalse">{{ bool.name }}</md-option>
                     </md-select>
                    </md-input-container> -->



            <!-- <md-input-container class="md-block" flex-gt-xs>
              <label>fee_1_id</label>
             <md-select ng-model="dd.fee_1_id" >
               <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>fee_3_id</label>
            <md-select ng-model="dd.fee_3_id" >
              <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>fee_5_id</label>
           <md-select ng-model="dd.fee_5_id" >
             <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
           </md-select>
         </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
           <label>fee_7_id</label>
          <md-select ng-model="dd.fee_7_id" >
            <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
          </md-select>
        </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>fee_2_id</label>
             <md-select ng-model="dd.fee_2_id" >
               <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
             </md-select>
           </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
             <label>fee_4_id</label>
            <md-select ng-model="dd.fee_4_id" >
              <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>fee_6_id</label>
           <md-select ng-model="dd.fee_6_id" >
             <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
           </md-select>
         </md-input-container>
         <md-input-container class="md-block" flex-gt-xs>
           <label>fee_8_id</label>
          <md-select ng-model="dd.fee_8_id" >
            <md-option ng-value="fee.id" ng-repeat="fee in fees">{{ fee.description }}</md-option>
          </md-select>
        </md-input-container> -->
